.form {
    text-align: center;
    margin: 50px auto 0 auto;
    padding: 30px;
    background-color: #c81517;
}

.form__mail, .form__comment, .form__firstname, .form__lastname  {
    width: 280px;
    padding: 5px;
    margin: 5px 0;
}

.form__label {
    margin: 5px 0;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
}

.form__reason {
    width: 292px;
    padding: 5px;
    margin: 5px 0;
    color: grey;
}

.form__comment {
    height: 80px;
    min-width: 280px;
    max-width: 280px;
    min-height: 50px;
    max-height: 80px;
}

.form__mail, .form__comment, .form__firstname, .form__lastname, .form__reason {
    border: solid 1px grey;
    border-radius: 5px;
}

.form__mail:focus, .form__comment:focus, .form__firstname:focus, .form__lastname:focus {
    border: solid 3px #c81517;
}

.footer__copyright {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 0.6rem;
    text-align: center;
    margin: 5px auto;
    width: 75%;
}

@media screen and (min-width: 768px) {
    .form__mail, .form__comment  {
        width: 400px;
    }

    .form__name {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .form__reason {
        width: 410px;
    }

    .form__comment {
        min-width: 400px;
        max-width: 400px;
    }

    .form__firstname, .form__lastname {
        width: 188px;
        margin: 5px;
    }
}

@media screen and (min-width: 1024px) {
    .form__mail, .form__comment  {
        width: 600px;
        margin: 5px 0;
    }
    
    .form__reason {
        width: 612px;
    }

    .form__comment {
        min-width: 600px;
        max-width: 600px;
    }

    .form__firstname, .form__lastname {
        width: 290px;
        margin: 5px;
    }
}
