.header {
    display: flex;
    width: 100%;
    align-items: flex-start;
}

.header__logo {
    display: block;
    width: 80px;
    margin:30px;
}

.navbar {
    display:flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 15px;
}

.navbar__element {
    display: none;
}

.navbar__toggle {
    text-decoration: none;
    padding: 15px 30px;
    font-size: 2.5rem
}

.responsive > .navbar__element {
    display: block;
    color: black;
    text-align: right;
    background-color: white;
    margin: 0 20px;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0 10px 25px 10px;

    transition-duration: 80ms;
}

.responsive > .navbar__element:hover {
    font-weight: bold;
    border-bottom: 5px solid #c81517 ;
}

@media screen and (min-width: 540px) {
    .header__logo {
        margin: 50px;
        width: 100px;
    }

    .header {
        align-items: center;
    }

    .navbar {
        flex-direction: row;
        justify-content: flex-end;
        height: 80px;
    }

    .navbar__toggle {
        display: none;
        text-decoration: none;
    }

    .navbar__element {
        display: block;
        color: black;
        margin: 0 25px;
        font-size: 1.2rem;
        text-decoration: none;
    }
}