.header__logo {
    width: 100px;
    padding: 20px;
}

.header--white {
    background-color: white;
    width: 250px;
    height: 250px;
    position: absolute;
    transform: rotate(45deg);
    bottom: -10%;
    left:42%;
}

.header {
    position: relative;
    text-align: center;
    margin: 15px 0;
}